<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Create Your Story</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form method="post" th:action="@{/lecture/update/{id}(id=${lecture.getId()})}"
                                          th:object="${lecture}">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="name"> Lecture Name</label>
                                                    <input class="form-control" id="name" placeholder="name"
                                                           th:field="*{lectureName}"
                                                           type="text">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="createdate">Lecture Create Date</label>
                                                    <input class="form-control" id="createdate" th:field="*{createdDate}"
                                                           type="date">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('createdDate')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('createdDate')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="totalduration">Expected Total
                                                        Duration</label>
                                                    <input class="form-control" id="totalduration" placeholder="total minutes"
                                                           readonly
                                                           th:field="*{expectedDuration}" type="text">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('expectedDuration')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('expectedDuration')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="lectureintro">Lecture Introduction</label>
                                                    <textarea class="form-control" id="lectureintro"
                                                              placeholder="lecture introduction"
                                                              th:field="*{lectureIntro}"></textarea>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('lectureIntro')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('lectureIntro')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">UPDATE
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->
                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Lecture Lists</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Lecture Name</th>
                                                <th scope="col">Completed/Expected Duration</th>
                                                <th scope="col">Count of Topics</th>
                                                <th scope="col">Level</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="lecture : ${lectures}">
                                                <td th:text="${lecture.lectureName}"></td>
                                                <td th:text="${lecture.completedDuration +' min/' + lecture.expectedDuration + ' min'}"></td>
                                                <td th:text="${lecture.countOfTopics}"></td>
                                                <td th:text="${lecture.lectureLevel.value}"></td>
                                                <td>
                                                    <a class="btn btn-warning rounded-0"
                                                       th:href="@{/lecture/update/{id}(id=${lecture.getId()})}"
                                                       th:if="${lecture.lectureLevel.value!= 'Pro'}">Update
                                                    </a>
                                                    <a class="btn btn-warning rounded-0 disabled-button"
                                                       th:if="${lecture.lectureLevel.value == 'Pro'}">Update
                                                    </a>


                                                    <a th:href="@{/lecture/delete/{id}(id=${lecture.getId()})}">
                                                        <button class="btn btn-danger rounded-0" type="button">Delete
                                                        </button>
                                                    </a>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>